.bag-items-container {
  display: inline-block;
  width: 65%;
  padding-right: 20px;
  /* border-right: 1px solid #eaeaec; */
  /* padding-top: 32px; */
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  border-radius: 15px;
  padding: 30px 20px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
  background-color: #f9fcee;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 1.3;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px;
  display: flex;
}

.item-left-part {
  background: rgb(243, 228, 206);
  width: 150px;
  height: 120px;
  overflow: hidden;
}

.item-left-part img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.item-right-part {
  padding-right: 22px;
  margin-left: 13px;
  position: relative;
  min-height: 123px;
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.item-right-part>* {
  flex: 0 1 60%;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 0;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
  padding-left: 5px;
  display: inline-block;
}

.remove-from-cart {
  position: absolute;
  font-size: 22px;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.item-name {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.current-price {
  font-size: 1rem;
  font-weight: 800;
  color: #03774f;
}

.original-price {
  text-decoration: line-through;
  color: #FE1238;
  display: inline-block;
  padding-left: 0.5rem;
}

.quantity-control {
  /* margin: 0.5rem 0 0.1rem; */
  flex: 0 1 30%;
}

.quantity-control button {
  border: none;
  border-radius: 4px;
  outline: none;
  width: 28px;
  height: 28px;
  background: #82e7d0;
  color: #03774f;
}

.quantity-control span {
  display: inline-block;
  /* width: 20px; */
  text-align: center;
  padding: 5px 10px;
  font-size: 1.2rem;
}

@media only screen and (max-width:1084px) {
  .item-right-part>* {
    flex: 0 1 55%;
  }

  .quantity-control {
    flex: 0 1 35%;
  }
}

@media only screen and (max-width:992px) {
  .bag-page {
    width: 100%;
    margin-left: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .item-right-part>* {
    flex: 0 1 55%;
  }

  .quantity-control {
    flex: 0 1 35%;
  }
}

@media only screen and (max-width:767px) {
  .bag-items-container {
    width: 100%;
    padding-right: 0;
  }

  .bag-summary {
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .item-right-part>* {
    flex: 0 1 100%;
  }

  .item-right-part {
    gap: 10px;
  }

  .quantity-control button {
    width: 22px;
    height: 22px;
  }

  .remove-from-cart {
    font-size: 18px;
    right: 15px;
  }

  .item-name {
    font-size: 0.9rem;
  }

  .slick-prev {
    left: -7px;
  }

  .slick-next {
    right: -7px;
  }

  .price-header {
    font-size: 0.8rem;
  }

  .bag-summary {
    margin-top: 10px;
  }
}