.inner-banner{
     background: #0a2c0f;
     color: #ffffff;
}

.inner-banner h1{
     color: #dddddd;
     padding: 6rem 0;
}

@media screen and (max-width:767px){
     .inner-banner h1{
     padding: 3rem 0;
}
}